{% extends 'main.html' %}

{% block title %}
    Все Этапы
{% endblock title %}
{% block content %}
    <h5>master/stage_in_work/all_stage_batch_in_work_main_template.html</h5>
    <form method="GET">
        {{ filter.form }}
        {{ filter.form.media }}
        <input type="submit" value="Найти">
    </form>
    <hr>
    <h3>Этапы в работе</h3>
    <table class="table table-primary">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Партия</th>
            <th scope="col">Работник</th>
            <th scope="col">Этап</th>
            <th scope="col">Начало работы</th>
            <th scope="col">В работе</th>
            <th scope="col">Время работы</th>
            <th scope="col">Комментарий</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% block stage_batch_in_work %}
                {% for stage_in_work in stages_in_work %}
                        <tr class="{% if batch.sos == True %}table-danger
                   {% else %}{% endif %}">
                            <th scope="row">{{ forloop.counter }}</th>

                            <td><a href="">{{ batch_id }}</a></td>
                            <td><a href="">{{ stage_in_work.worker }}</a></td>
                            <td><a href="">{{ stage_in_work.stage_in_batch }}</a></td>
                            <td><a href="">{{ stage_in_work.start_of_work }}</a></td>
                            <td><a href="">{{ stage_in_work.in_work }}</a></td>
                            <td><a href="">{{ stage_in_work.time_of_work }}</a></td>
                            <td><a href="">{{ stage_in_work.comment_in_batch.body }}</a></td>
                            <td>

                            </td>
                        </tr>
                {% endfor %}
            {% endblock stage_batch_in_work %}

            <tr><td colspan="9"><h5>Оставшеся Этапы</h5></td></tr>

            {% for stage in stages %}
                <tr class="table-danger" >
                    <th scope="row">{{ forloop.counter }}</th>

                    <td><a href="">{{ batch_id }}</a></td>
                    <td><a href=""></a></td>
                    <td><a href="">{{ stage.operations }} {{ stage.name }}</a></td>
                    <td><a href=""></a></td>
                    <td><a href=""></a></td>
                    <td><a href=""></a></td>
                    <td><a href=""></a></td>
                    <td>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

