<div class="dropdown">
    <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Инструменты
    </button>
    <ul class="dropdown-menu">

        {% if request.user.position == 'MSR' %}
        {% if object %}


            <li>
                <a class="dropdown-item"
                   href="{% url 'create_new_batch' object %}">
                    Новая партия {{ object }}
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="{% url 'create_new_comment_workshop_plan' object.id month %}">
                    Новый комментарий к {{ object.detail }}
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="{% url 'add_existing_batch_in_plan' object %}">
                    Добавить существующую партию
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="{% url 'all_record_in_warehouse' object.product object.detail %}">
                    В кладовой...
                </a>
            </li>
            <li>
                <a class="dropdown-item"
                   href="{% url 'delete_object_from_workshopplan' year=current_year month=current_month object=object %}">
                    Удалить
                </a>
            </li>


            <li>
                <a class="dropdown-item"
                   href="{% url 'update_object_from_workshopplan' id=object.id %}">
                    Редактировать
                </a>
            </li>
        {% endif %}
<!--        <li><a class="dropdown-item" >Something else here</a></li>-->
        {% endif %}
    </ul>
</div>
{% comment %}
<li>
                <a class="dropdown-item"
                   href="{% url 'add_quantity_in_warehouse' object %}">
                    В кладовой {{ object }}
                </a>
            </li>
{% endcomment %}