<tbody>
    {% ifchanged object.product %}
    <tr class="table-light">
        <td></td>
        <td>    <h5>{{ object.product }}</h5></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endifchanged %}
    <tr class="{% if object.sos == True %}table-danger
               {% else %}{% endif %}">
        <th scope="row">{{ forloop.counter }}</th>
        <td></td>
        <td><a href="">{{ object.detail }}</a></td>
        <td><a href="">{{ object.quantity }}</a></td>
        <td><a href="{% url 'batchs_in_plan' object %}">{{ object.in_work }}</a></td>
        <td><a href="">{{ object.sos }}</a></td>
        <td>
            {% include 'workshop_data/plan/includes/button_dropdown_menu_plan.html' %}
        </td>

    </tr>




</tbody>
