

<tbody>

    {% ifchanged product.product %}
    <tr class="table-light">
        <td></td>
        <td>    <h5>{{ product.product }}</h5></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endifchanged %}
    <tr class="{% if product.sos == True %}table-danger
               {% else %}{% endif %}">
        <th scope="row">{{ forloop.counter }}</th>

        <td></td>
        <td><a href="">{{ product.detail }}</a></td>
        <td><a href="">{{ product.quantity }}</a></td>

        <td><a href="">{{ product.sos }}</a></td>

        <td>
            Инструменты
        </td>

    </tr>




</tbody>
