<div class="dropdown">
    <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Инструменты
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'product_add_detail' product=product.name %}">Добавить Деталь</a></li>
        <li><a class="dropdown-item" href="{% url 'product_add_node' product=product.name %}">Добавить Узел</a></li>
        <li><a class="dropdown-item" href="{% url 'product_delete' product_name=product.name %}">Удалить</a></li>
<!--        <li><a class="dropdown-item" >Something else here</a></li>-->
    </ul>
</div>