<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Инстументы
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'order_user_edit' username=user.username id=order.id %}">Исправить</a></li>
        <li><a class="dropdown-item" href="{% url 'order_user_delete' username=user.username id=order.id %}">Удалить</a></li>
<!--        <li><a class="dropdown-item" >Something else here</a></li>-->
    </ul>
</div>