{% load test_tag %}
{% load get_stage_in_work_in_order %}
{% load static %}


<tbody>
    {% for order in orders %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order.date }}</td>
            {% if request.user.position == 'MSR' %}
                <td>
                    <a href="{% url 'orders-worker-month-for-master' surname=order.surname.surname name=order.surname.name month=order.month %}">
                    {{ order.get_month_display }}
                    </a>
                </td>
            {% else %}
                <td>
                    <a href="{% url 'orders_user_month_list' username=user.username month=order.month %}">
                    {{ order.get_month_display }}
                    </a>
                </td>
            {% endif %}


            <td>{{ order.workshop }}</td>
            <td>{{ order.surname }}</td>
            <td>{{ order.batch }}</td>
            <td>
                <a href="{% url 'orders_user_product_list' username=user.username product=order.product %}">
                    {{ order.product }}
                </a>
            </td>

            <td>
                <a href="{% url 'orders_user_detail_list' username=user.username detail=order.detail %}">
                    {{ order.detail }}
                </a>
            </td>

            <td>
                <a href="{% url 'orders_user_detailcategory_list' username=user.username category=order.detail.category %}">
                    {{ order.detail.category }}
                </a>
            </td>
            <td>{{ order.operations }}</td>
            <td>
                <a href="{% url 'stage_work_done' username=user.username batch=order.batch operations=order.operations %}">
                    {% get_stage_in_work_tag user=order.surname batch_id=order.batch.id operations=order.operations %}
                </a>
            </td>
            <td>
                <div class="time_of_work_form">
                    {% get_time_of_work_tag user=order.surname batch_id=order.batch.id operations=order.operations %}
                    {% include 'workshop_data/worker/order/time_of_work_form.html' %}
                </div>
            </td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            {% if request.user.position != 'MSR' %}
                <td>
                    {% include 'workshop_data/worker/includes/button_dropdown_menu.html' %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
</tbody>>
