{% extends 'main.html' %}
{% load recordjob_tag %}

{% block title %}
    Все записи
{% endblock title %}



{% block content %}
    <form method="GET">
        <div style="display: flex;flex-direction: row;">
            <div>
                <div style="display: flex;margin:10px;">
                    <div style="margin-left: 10px;">
                        {{ filter.form.product.label }}
                        {{ filter.form.product }}
                        {{ filter.form.media }}
                    </div>
                    <div style="margin-left: 10px;">
                        {{ filter.form.detail.label }}
                        {{ filter.form.detail }}
                        {{ filter.form.media }}
                    </div>
                    <div style="margin-left: 10px;">
                        {{ filter.form.user.label }}
                        {{ filter.form.user }}
                        {{ filter.form.media }}
                    </div>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text">
                        {% for choice in filter.form.month %}
                        <div class="wrapper-month" style="max-width:100px;margin-right:21.5px;">
                            {{ choice }}
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div style="margin-left: 10px;">
                    {{ filter.form.milling_was.label }}
                    {{ filter.form.milling_was }}
                    {{ filter.form.media }}
                </div>

            </div>
            <div class="d-grid col-2" style="margin:10px;">
                <input class="btn btn btn-info btn-lg" type="submit" value="Поиск">
            </div>
        </div>
    </form>

    <hr>

    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Месяц</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Изделие.Деталь</th>
            <th scope="col">Количество 1</th>
<!--            <th scope="col">Стоимость 1</th>-->
            <th scope="col">Количество 2</th>
<!--            <th scope="col">Стоимость 2</th>-->
            <th scope="col">Количество 1+2</th>
            <th scope="col">Расценка</th>
            <th scope="col">Зарплата(1.4)</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if records %}
            {% for record in records %}
                {% include 'workshop_data/record_job/includes/record_job_table_body.html' %}
            {% endfor %}
        {% else %}
            {% for record in filter.qs %}
                {% include 'workshop_data/record_job/includes/record_job_table_body.html' %}
            {% endfor %}
            {% if month and detail %}


            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    Общее количество деталей <strong>{{ detail }}</strong> за {% month_name_tag month %}:
                    <strong>{{ total_quantity }}</strong> шт.
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
        {% endif %}
        </tbody>
    </table>
{% endblock content %}
