{% extends 'main.html' %}
{% load static %}

{% block title %}
    Новая Запись
{% endblock title %}

{% block content %}

<div class="main-wrapper" style="display:flex; margin-left: auto; margin-right: 0;">
    <div class="wrapper-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <input type="submit" value="Сохранить" class="btn btn-primary">
        </form>
    </div>
    <div></div>
</div>

   <script>
        $('.add').click(function() {
            $(this).parent().after($('<h3>', {
                'text': 'Запись сохранена'
            }));
        });
    </script>



{% endblock content %}


    <script>
        $('.wrapper-form').after($('<div>', {
            class: 'complete',
            text: 'Изделие сохранено'
        }));
    </script>