{% extends 'main.html' %}
{% load test_tag %}

{% block title %}

{% endblock title %}


    {% block content %}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Месяц</th>
            <th scope="col">Цех</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Изделие</th>
            <th scope="col">Деталь</th>
            <th scope="col">Категория</th>
            <th scope="col">Операции</th>
            <th scope="col">Колличество</th>
            <th scope="col">Расценка</th>
            {% if request.user.position != 'MSR' %}
                <th scope="col">Действия</th>
            {% endif %}
        </tr>
        </thead>
        {% block data_order %}

        {% endblock data_order %}
    </table>
    <div class="orders_user_salary">
        <p>Зарплата за {{ month.get_month_display }}  -  {{ salary }}</p>
    </div>

<!--    <form action="#" method="get">-->
<!--        <input type="submit" class="btn btn-primary" onclick="" name="mybtn">-->
<!--        <input type="text" value="8" name="mytextbox" size="1"/>-->
<!--    </form>-->



    {% endblock content %}
