{% extends 'main.html' %}
{% load static %}
% load test_tag %}
{% load get_stage_in_work_in_order %}
{% load order_templatetags %}
{% load static %}

{% block title %}
    Наряды за {{ month }}
{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/worker_css/orders_table.css' %}">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Месяц</th>
                <th scope="col">Цех</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Партия</th>
                <th scope="col">Изделие</th>
                <th scope="col">Деталь</th>
                <th scope="col">Категория</th>
                <th scope="col">Операции</th>
                <th scope="col">Выполнено</th>
                <th scope="col">Время работы</th>
                <th scope="col">Колличество</th>
                <th scope="col">Расценка</th>
                <th scope="col">Заработок в час</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
    {% for order in orders %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order.date }}</td>

            {% if request.user.position == 'MSR' %}
            <td>
                {% if order.month == 13 %}
                    <a href="" style="color: red">{{ order.get_month_display }}</a>
                {% else %}
                    <a href="{% url 'orders-worker-month-for-master' surname=order.user.surname name=order.user.name month=order.month %}">
                    {{ order.get_month_display }}
                    </a>
                {% endif %}
            </td>
            {% else %}
            <td>
                {% if order.month == 13 %}
                    <a href="{% url 'order_user_edit' username=user.username id=order.id %}" style="color: red">{{ order.get_month_display }}</a>
                {% else %}
                    <a href="{% url 'orders_user_month_list' username=user.username month=order.month %}">
                    {{ order.get_month_display }}
                    </a>
                {% endif %}
            </td>
            {% endif %}


            <td>{{ order.workshop }}</td>
            <td>{{ order.user.surname }}</td>
            <td>{{ order.batch }}</td>
            <td>
                <a href="{% url 'orders_user_product_list' surname=order.user.surname name=order.user.name product=order.product %}">
                    {{ order.product }}
                </a>
            </td>

            <td>
                <a href="{% url 'orders_user_detail_list' surname=order.user.surname name=order.user.name detail=order.detail %}">
                    {{ order.detail }}
                </a>
            </td>

            <td>
                <a href="{% url 'orders_user_detailcategory_list' surname=order.user.surname name=order.user.name category=order.detail.category %}">
                    {{ order.detail.category }}
                </a>
            </td>
            <td>{{ order.operations }}</td>

            {% if request.user.position == 'MSR' %}
            <td>
                {% get_stage_in_work_done_tag order=order user=order.user batch_id=order.batch.id operations=order.operations %}
            </td>
            {% else %}
            <td>
                <a href="{% url 'stage_work_done' username=order.user batch=order.batch operations=order.operations %}">
                    {% get_stage_in_work_done_tag order=order user=order.user batch_id=order.batch.id operations=order.operations %}
                </a>
            </td>
            {% endif %}

            <td>
                <div class="time_of_work_form">
                    {% get_time_of_work_stage_or_order_tag order=order %}
                    {% if request.user.position != 'MSR' %}
                        {% include 'workshop_data/worker/includes/time_of_work_form.html' %}
                    {% endif %}
                </div>
            </td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>
                {% get_cost_per_hour_tag order.id %} руб.
            </td>
            <td>{% include 'workshop_data/worker/includes/button_dropdown_menu.html' %}</td>
        </tr>
    {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                {% if average_price_per_month %}
                    {{ average_price_per_month }}
                {% elif average_price %}
                    {{ average_price }}
                {% endif %}
            </td>
            <td>
                {% if average_cost_per_hour_per_month >= 0 %}
                    {{ average_cost_per_hour_per_month }}
                {% elif average_cost_per_hour %}
                    {{ average_cost_per_hour }}
                {% endif %}
            </td>
            <td></td>
        </tr>
        </tbody>

    </table>

{% endblock content %}