{% extends 'main.html' %}

{% block title %}
    Все партии {{ object }}
{% endblock title %}

{% block content %}
    <h4>Все Партии</h4>
    <form method="GET">
        {{ filter.form }}
        {{ filter.form.media }}
        <input type="submit" value="Найти">
    </form>
    <hr>

    <h4>Все партии {{ object }}</h4>
    <p></p>

    <table class="table table-primary">
        {% include 'workshop_data/master/batch/includes/table_header_all_batch.html' %}
        {% for batch in batchs_in_plan %}
            {% include 'workshop_data/master/batch/includes/tabel_body_all_batch.html' %}
        {% endfor %}
    </table>

    <div class="wrapper-button">
        <a class="btn btn-outline-success btn-sm"
           type="button"
           href="{% url 'create_new_batch' object %}">
            Добавить партию
        </a>
    </div>

{% endblock content %}