{% extends 'main.html' %}
{% load static %}
{% block title %}
    Новый нараяд
{% endblock title %}

{% block content %}
    <form method="POST" target ="_blank">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}

        <input type="submit" name="view" value="Печать" class="btn btn-primary">
		<input type="submit" name="state" value="Печать г/з" class="btn btn-primary">
        <input type="submit" name="save" value="Сохранить" class="btn btn-primary">

    </form>
{% endblock content %}
    <form method="POST" target ="_blank">
        {% if request.user.position == 'MSR' or  request.user.position == 'EPB'%}
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <input type="submit" name="view" value="Просмотр" class="btn btn-primary">
            <input type="submit" name="save" value="Сохранить" class="btn btn-primary">
			<input type="submit" name="state" value="Печать г/з" class="btn btn-primary">
        {% else %}
            {% csrf_token %}
            {{ form.month }}
            {{ form.media }}
        {% endif %}
        <input type="submit" name="save" value="Сохранить" class="btn btn-primary">
    </form>