{% extends 'main.html' %}

{% block title %}
    Добавить Категорию
{% endblock title %}

{% block content %}
     <div class="wrapper-category-detail-form">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Сохранить" class="btn btn-primary save-category">
            <button type="submit" name="save_and_continue" class="btn btn-primary add">Сохранить и добавить еще</button>
        </form>
    </div>

    <script>
        $('.add').click(function() {
            $(this).parent().after($('<h3>', {
                'text': 'Категория добавлена'
            }));
        });
    </script>
{% endblock content %}