 <tbody>
    {% ifchanged batch.workshopplan_detail %}
    <tr class="table-light">
        <td></td>
        <td>    <h5>{{ batch.get_product }}_{{ batch.get_detail }}</h5></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endifchanged %}
    <tr class="{% if batch.sos == True %}table-danger
               {% elif batch.ready == True %}table-success{% endif %}">
        <th scope="row">{{ forloop.counter }}</th>
        <td></td>
        <td></td>
        <td>{{ batch.id }}</td>

        <td>{{ batch.detail }}</td>
        <td><a href="{% url 'all_stage_this_batch' id=batch.id %}">{{ batch.quantity_in_batch }}</a></td>
        <td><a href="">{{ batch.sos }}</a></td>
        <td><a href="">{{ batch.comment.body }}</a></td>
        <td>
            <a href="{% url 'all_stage_this_batch' id=batch.id %}">
                {% for stage in batch.stages.all %}
                    {% if forloop.last %}
                        {{ stage.stage_in_batch }}
                    {% endif %}
                {% endfor %}
            </a>
        </td>
        <td>
            <a href="{% url 'edit_start_new_stage_in_work' batch %}">
                {% for stage in batch.stages.all %}
                    {% if forloop.last %}
                        {{ stage.worker.get_full_name }}
                    {% endif %}
                {% endfor %}
                {% comment %}
                {{ batch.stages.all.last.worker.get_full_name }}
                {% endcomment %}

            </a>
        </td>
        {% comment %}
        <td><a href=""></a>
            {{ batch.stages.all.last.worker }}
            </td>{% endcomment %}
        <td>
            {% include 'workshop_data/master/batch/includes/button_dropdown_menu_batch.html' %}
        </td>
    </tr>
</tbody>