{% load recordjob_tag %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
            <td>{{ record.date }}</td>
            <td>
                <a href="{% url 'all_record_job_per_month' month=record.month %}">
                    {{ record.get_month_display }}
                </a>
            </td>
            <td><a href="{% url 'all_record_job_for_worker' id=record.user.id %}">{{ record.user.get_full_name }}</a></td>
            <td><a href="{% url 'all_record_job_per_product' product=record.product %}">
                {{ record.product }}</a>
                <a href="{% url 'all_record_job_per_detail' detail=record.detail %}">
                <i>{{ record.detail.prefix }}</i>. {{ record.detail.name }}</a>
                {% if record.detail.parameters_for_spu %}
                {% else %}
                    <a href="{% url 'create_parameter_detail_spu' product=record.product detail=record.detail %}">
                    &#10149;</a>

                {% endif %}
                {% if record.detail.milling_in_detail.all %}
                    {% for milling in record.detail.milling_in_detail.all %}
                        <abbr
                        title="{{ milling.name }} - {{ milling.price }}"
                        style="text-decoration: none;"
                        >
                            &#10022;
                        </abbr>
                    {% endfor %}
                {% endif %}

            </td>
            <td>{% if record.quantity_1 > 0 %}
                    <strong>{{ record.quantity_1 }}</strong>
                {% else %}
                    0
                {% endif %}</td>
<!--                        <td>{{ record.detail.parameters_for_spu.first_side_time }}</td>-->
<!--                        <td>{{ record.detail.parameters_for_spu.coefficient_first_side }}</td>-->
<!--            <td>{{ record.detail.parameters_for_spu.return_salary_per_first_side }}</td>-->
            <td>{% if record.quantity_2 > 0 %}
                    <strong>{{ record.quantity_2 }}</strong>
                {% else %}
                    0
                {% endif %}</td>
<!--                        <td>{{ record.detail.parameters_for_spu.second_side_time }}</td>-->
<!--                        <td>{{ record.detail.parameters_for_spu.coefficient_second_side }}</td>-->
<!--            <td>{{ record.detail.parameters_for_spu.return_salary_per_second_side }}</td>-->
            <td>{% if record.quantity > 0  %}
                    <strong>{{ record.quantity }}</strong>
                {% elif record.quantity is not None %}
                    {{ record.quantity }}
                {% else %}
                    0
                {% endif %}</td>
            <td>{{ record.detail.parameters_for_spu.price }}</td>
            <td><strong>{% returns_salary_for_completed_detail_tag record %}</strong></td>
            <td>
                <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Действия
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'record_job_edit' record.id %}">Исправить</a></li>
                    <li><a class="dropdown-item" href="{% url 'record_job_delete' record.id %}">Удалить</a></li>
                    <li><a class="dropdown-item" href="{% url 'milling_detail_for_cpu' record %}">Добавить фрезеровку</a></li>



                </ul>
            </td>
    </tr>
