{% extends 'workshop_data/master/workers/master_workers_main_template.html' %}

{% block title %}
    ???????
{% endblock title %}

{% block workers %}

        <h5>master/workers_main_template.html</h5>
        <hr>
        <table class="table table-success table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
                <th scope="col">Табельный номер</th>
                <th scope="col">Разряд</th>
                <th scope="col">Должность</th>
                <th scope="col">День рождения</th>
                <th scope="col">Наряды</th>

            </tr>
            </thead>

            <tbody>
            {% for worker in workers %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ worker.username }}</td>
                <td>{{ worker.surname }}</td>

                <td>
                    <a href="">
                        {{ worker.name }}
                    </a>
                </td>

                <td>{{ worker.patronymic }}</td>
                <td>{{ worker.employee_number }}</td>

                <td>
                    <a href="">
                        {{ worker.employee_rank }}
                    </a>
                </td>

                <td>
                    <a href="">
                        {{ worker.get_position_display }}
                    </a>
                </td>

                <td>
                    <a href="">
                        {{ worker.birthday }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'orders-worker-for-master' surname=worker.surname name=worker.name %}">Смотреть</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock workers %}