{% extends 'main.html' %}

{% block title %}
    Добавить Деталь
{% endblock title %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.media }}
    <input type="submit" value="Сохранить" class="btn btn-primary">
    <button type="submit" name="save_and_continue" class="btn btn-primary add">Сохранить и добавить еще</button>

    </form>

   <script>
        $('.add').click(function() {
            $(this).parent().after($('<h3>', {
                'text': 'Деталь добавлена'
            }));
        });
    </script>

{% endblock content %}