{% extends 'main.html' %}
{% load other_tag %}
{% load static %}

{% block title %}
    Детали {{ product }}
{% endblock title %}

{% block content %}
{% total_count 0 %}

    <link rel="stylesheet" href="{% static 'css/detail/product_detail.css' %}">
    <h3>{{ product }}</h3>

    <div class="wrapper-product-detail">
        <div class="wrapper-table-product-detail">
            <table class="table table-success table-striped w-auto">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Категория</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                {% for detail in product.detail.all %}
                <tr>
                    <th scope="row">{% total_count %}</th>
                    <td>{{ detail.prefix }}.{{ detail.get_name_detail }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% if detail.category == None %}
                    <td></td>
                    {% else %}
                    <td>{{ detail.category }}</td>
                    {% endif %}
                    <td><a class="link-image" href="{% url 'image_detail' detail %}">Изображение</a></td>
                    <td>
                        {% include 'workshop_data/detail/includes/button_dropdown_menu.html' %}
                    </td>
                </tr>
                {% if detail.secondary_detail.all %}
                {% for detail in detail.secondary_detail.all %}
                <tr>
                    <th scope="row">{% total_count %}</th>
                    <td></td>
                    <td>{{ detail.prefix }}.{{ detail.get_name_detail }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% if detail.category == None %}
                    <td></td>
                    {% else %}
                    <td>{{ detail.category }}</td>
                    {% endif %}
                    <td><a href="">Изображение</a></td>
                    <td>
                        {% include 'workshop_data/detail/includes/button_dropdown_menu.html' %}
                    </td>
                </tr>
                {% if detail.secondary_detail.all %}
                {% for detail in detail.secondary_detail.all %}
                <tr>
                    <th scope="row">{% total_count %}</th>
                    <td></td>
                    <td></td>
                    <td>{{ detail.prefix }}.{{ detail.get_name_detail }}</td>
                    <td></td>
                    <td></td>
                    {% if detail.category == None %}
                    <td></td>
                    {% else %}
                    <td>{{ detail.category }}</td>
                    {% endif %}
                    <td><a href="">Изображение</a></td>
                    <td>
                        {% include 'workshop_data/detail/includes/button_dropdown_menu.html' %}
                    </td>
                </tr>
                {% for detail in detail.secondary_detail.all %}
                <tr>
                    <th scope="row">{% total_count %}</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ detail.prefix }}.{{ detail.get_name_detail }}</td>
                    <td></td>
                    {% if detail.category == None %}
                    <td></td>
                    {% else %}
                    <td>{{ detail.category }}</td>
                    {% endif %}
                    <td><a href="">Изображение</a></td>
                    <td>
                        {% include 'workshop_data/detail/includes/button_dropdown_menu.html' %}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="image-detail">

    </div>
<div class="master-all-workers-data">
        <div id="master-worker-price-cost-buttons">
            <a class="btn  btn-outline-success btn-sm" type="button"
               href="{% url 'product_add_detail' product=product.name %}">
                Добвить деталь
            </a>
        </div>
    </div>

{% endblock content %}