{% extends 'main.html' %}
{% load recordjob_tag %}
{% load other_tag %}

{% block title %}
    Все записи
{% endblock title %}

{% block content %}
    <form method="GET">
        <div style="display: flex;flex-direction: row;">
            <div>
                <div style="display: flex;margin:10px;">
                    <div style="margin-left: 10px;">
                        {{ filter.form.product.label }}
                        {{ filter.form.product }}
                        {{ filter.form.media }}
                    </div>
                    <div style="margin-left: 10px;">
                        {{ filter.form.detail.label }}
                        {{ filter.form.detail }}
                        {{ filter.form.media }}
                    </div>
                    <div style="margin-left: 10px;">
                        {{ filter.form.user.label }}
                        {{ filter.form.user }}
                        {{ filter.form.media }}
                    </div>
                </div>
            </div>
            <div class="d-grid col-2" style="margin:10px;">
                <input class="btn btn btn-info btn-lg" type="submit" value="Поиск">
            </div>
        </div>
    </form>
    <hr>

    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Участок</th>
            <th scope="col">Ячейка</th>
            <th scope="col">Изделие.Деталь</th>
            <th scope="col">Вид</th>
            <th scope="col">Ед.изм.</th>
            <th scope="col">Приход</th>
            <th scope="col">Расход</th>
            <th scope="col">Остаток</th>
            <th scope="col">Сотрудник</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ record.date }}</td>
                        <td>{{ record.section }}</td>
                        <td>{{ record.cell }}</td>
                        <td>{{ record.product }} <i>{% if record.detail.prefix %}{{ record.detail.prefix }}{% endif %}.{{ record.detail.name }}</i></td>
                        <td>{% if record.semis %}
                                {% get_verbose_field_name_tag record "semis" %}
                            {% elif record.intermediate_detail %}
                                {% get_verbose_field_name_tag record "intermediate_detail" %}
                            {% endif %}
                        </td>
                        <td>{{ record.unit.get_unit_display }}</td>

                        <td>{{ record.income }}</td>
                        <td>{{ record.expenditures }}</td>
                        <td><strong>{{ record.detail.get_balance_in_warehouse }}</strong>
                            (п-{{ record.detail.balance_intermediate_detail_in_warehouse }},
                            з-{{ record.detail.balance_semis_in_warehouse }})</td>
                        <td><strong>{{ record.employee.get_full_name }}</strong></td>

                        <td>
                            <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Действия
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="">Исправить</a></li>
                                <li><a class="dropdown-item" href="">Удалить</a></li>
                            </ul>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}