{% extends 'main.html' %}

{% block title %}

{% endblock title %}

{% block content %}
    <style>
        .wrapper-warehouse-create-record  {
            display:flex;
            flex-wrap: nowrap;
            padding: 10px;
            max-width: 400px;
        }

        .block-data {
            margin-bottom: 10px;
            display: block;

        }
    </style>
    <div class="wrapper-warehouse-create-record">
        <form method="POST">
        {% csrf_token %}
        {{ form.media }}
            <h4 style="color: red;">{{form.non_field_errors }}</h4>
            <div class="wrapper-left-block">
                <div class="block-data">
                    <div><label class="form-label">{{form.section.label}}</label></div>
                    <div>{{ form.section }}</div>
                    <div class="form-error">{{ form.section.errors }}</div>
                </div>
                <div class="block-data">
                    <div><label class="form-label">{{form.semis.label}}</label></div>
                    <div>{{ form.semis }}</div>
                    <div class="form-error">{{ form.semis.errors }}</div>
                </div>
                <div class="block-data">
                    <div><label class="form-label">{{form.intermediate_detail.label}}</label></div>
                    <div><p>{{ form.intermediate_detail }}</p></div>
                    <div class="form-error">{{ form.intermediate_detail.errors }}</div>
                </div>
                <div class="block-data">
                    <div><label class="form-label">{{form.unit.label}}</label></div>
                    <div>{{ form.unit }}</div>
                    <div class="form-error">{{ form.unit.errors }}</div>
                </div>
                <div class="block-data">
                    <div><label class="form-label">{{form.comment.label}}</label></div>
                    <div>{{ form.comment }}</div>
                    <div class="form-error">{{ form.errors.comment }}</div>
                </div>
            </div>
            <input type="submit" value="Сохранить" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}