{% extends 'main.html' %}
{% load test_tag %}

{% block title %}
    Детали
{% endblock title %}


{% block content %}
    <form method="GET">
        {{ filter.form }}
        {{ filter.form.media }}
        <input type="submit" value="Найти">
    </form>
    <hr>
    <h3>{{ product }}</h3>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% block data_detail %}

        {% endblock data_detail %}
    </table>
{% endblock content %}
