{% extends 'main.html' %}
{% load static %}

{% block title %}

{% endblock title %}


    {% block content %}

        {% block data_order %}

        {% endblock data_order %}

    <div class="orders_user_salary">
        <p>Зарплата за {{ month.get_month_display }}  -  {{ salary }}</p>
    </div>

<!--    <form action="#" method="get">-->
<!--        <input type="submit" class="btn btn-primary" onclick="" name="mybtn">-->
<!--        <input type="text" value="8" name="mytextbox" size="1"/>-->
<!--    </form>-->
    {% endblock content %}
