{% extends 'main.html' %}
{% load static %}

{% block title %}
    Добавить Деталь в Изделие
{% endblock title %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/product/product_add_detail.css' %}">
    <h4>Добавить узел в изделие {{ product }}</h4>
    <div class="wrapper-product-add-detail">
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <input type="submit" value="Сохранить" class="btn btn-primary">
                <button type="submit" name="save_and_continue" class="btn btn-primary add">Сохранить и добавить еще</button>
            </form>
        </div>



        <div class="wrapper-table">
            <table class="table table-primary">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Детали</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                {% for detail in product.node.all %}
                    {% if detail.node.all %}

                    {% endif %}
                    <tr class="table-light">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>Узел</td>
                        <td>{{ detail }}</td>
                    </tr>
                {% endfor %}

                {% for detail in product.detail.all %}
                <tbody>
                    <tr class="table-light">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ detail.category }}</td>
                        <td>{{ detail }}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

    </div>

   <script>
        $('.add').click(function() {
            $(this).parent().after($('<h3>', {
                'text': 'Деталь добавлена'
            }));
        });
    </script>

{% endblock content %}