{% extends 'main.html' %}
{% load test_tag %}

{% block title %}
    Изделия
{% endblock title %}

{% block content %}
    <h5>'main.html'  >>>  product/product_main_template.html  >>>  product/product_list_all.html</h5>
    <hr>
    <form method="GET">
        {{ filter.form }}
        {{ filter.form.media }}
        <input type="submit" value="Найти">
    </form>
    <hr>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% block data_product %}

        {% endblock data_product %}
    </table>
    <!--    <form action="#" method="get">-->
<!--        <input type="submit" class="btn btn-primary" onclick="" name="mybtn">-->
<!--        <input type="text" value="8" name="mytextbox" size="1"/>-->
<!--    </form>-->

{% endblock content %}
