{% extends 'main.html' %}
{% load test_tag %}

{% block title %}
    Все сотрудники
{% endblock title %}

{% block content %}
    <h5>master/workers_main_template.html</h5>
    <hr>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Табельный номер</th>
            <th scope="col">Разряд</th>
            <th scope="col">Должность</th>
            <th scope="col">День рождения</th>
            <th scope="col">Наряды</th>

        </tr>
        </thead>
        {% include 'workshop_data/master/includes/table_workers_template.html' %}
    </table>
    <!--    <form action="#" method="get">-->
<!--        <input type="submit" class="btn btn-primary" onclick="" name="mybtn">-->
<!--        <input type="text" value="8" name="mytextbox" size="1"/>-->
<!--    </form>-->

    {% endblock content %}
