{% extends 'main.html' %}
{% load static %}
{% load other_tag %}
{% load workshopplan_tag %}

{% block title %}
    План цеха
{% endblock title %}

{% block content %}
{% total_count 0 %}
    <link rel="stylesheet" href="{% static 'css/plan/plan.css' %}" type="text/css">
    <div class="filter-wrapper">
        <form method="GET">
            <div class="filter">
                <h5>Найти по изделию  {{ filter.form.product }}{{ filter.form.media }}</h5>
                <h5>Найти по детали {{ filter.form.detail }}{{ filter.form.media }}!!! не работает фильтр по детали !!!</h5>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <h5 style="margin-right: 10px;">Выбрать месяц</h5>
                    {{ filter.form.month }}
                    {{ filter.form.media }}
                </div>
            </div>
            <input type="submit" value="Найти">
        </form>
    </div>

    <hr>
    <h4>План цеха на {{ month }} </h4>

    <table class="table table-primary table-hover ">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Месяц</th>
                <th scope="col" style="width: 140px;">Деталь</th>
                <th scope="col" style="width: 140px;">Входящие</th>
                <th scope="col" style="width: 140px;">Входящие</th>
                <th scope="col" style="width: 140px;">Входящие</th>
                <th scope="col">Всего - Гос/Ком</th>
                <th scope="col" style="width: 93px;">заготовки</th>
                <th scope="col" style="width: 70px;">п/ф</th>
                <th scope="col" style="width: 87px;">ед.изм</th>
                <th scope="col">В работе</th>
                <th scope="col"></th>
            </tr>
        </thead>

        {% for product in products %}
        <tbody>
        {% ifchanged product %}
        <tr class="table-light">
            <td></td>
            <td><h5><strong>{{ product }}</strong></h5></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endifchanged %}
        {% for month in filter.form.month.value %}
            {% for detail1 in product.detail.all %}
                {% object_workshopplan product=product detail=detail1 month=month as object %}

                    <tr class="{% if object.sos == True %}table-danger
                                           {% else %}{% endif %}"
                        style="{% if object %}color:#E32636{% endif %}">
                        <th scope="row">{% total_count %}</th>
                        <td></td>
                        <td>{{ object.get_month_display }}</td>
                        <td>{% if detail1.prefix %} {{ detail1.prefix }}. {% endif %} {{ detail1.get_name_detail }}
                            <a title="Комментарии" data-bs-toggle="modal" data-bs-target="" href="#{{object.id}}">&#9776;</a>
                            {% include 'workshop_data/plan/includes/workshop_plan_modal_window_comments_list.html' %}
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            {% if object %}
                                {{ object.get_quantity }} -
                                {{ object.quantity_state_order }}гз/
                                {{ object.quantity_commercial_order }}ком
                            {% endif %}
                        </td>
                        <td>{{ detail1.balance_semis_in_warehouse }}заг</td>
                        <td>{{ detail1.balance_intermediate_detail_in_warehouse }}п/ф</td>
                        <td>{{ detail1.in_warehouse.get_unit_display }}</td>
                        <td></td>
                        <td>{% include 'workshop_data/plan/includes/button_dropdown_menu_plan.html' %}</td>
                    </tr>

                    {% if detail1.secondary_detail.all %}
                        {% for detail2 in detail1.secondary_detail.all %}
                        {% object_workshopplan product=product detail=detail2 month=month as object2 %}
                        {% with object=object2 %}
                                <tr class="{% if object.sos == True %}table-danger
                                           {% else %}{% endif %}">
                                <th scope="row">{% total_count %}</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{% if detail2.prefix %} {{ detail2.prefix }}. {% endif %} {{ detail2.get_name_detail }}
                                    <a title="Комментарии" data-bs-toggle="modal" data-bs-target="" href="#{{object.id}}">&#9776;</a>
                                    {% include 'workshop_data/plan/includes/workshop_plan_modal_window_comments_list.html' %}
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    {% if object %}
                                        {{ object.get_quantity }} -
                                        {{ object.quantity_state_order }}гз/
                                        {{ object.quantity_commercial_order }}ком
                                    {% endif %}
                                </td>
                                <td>{{ detail2.balance_semis_in_warehouse }}заг</td>
                                <td>{{ detail2.balance_intermediate_detail_in_warehouse }}п/ф</td>
                                <td>{{ detail2.in_warehouse.get_unit_display }}</td>
                                <td></td>
                                <td>{% include 'workshop_data/plan/includes/button_dropdown_menu_plan.html' %}</td>
                            </tr>

                        {% endwith %}
                                {% if detail2.secondary_detail.all %}
                                    {% for detail3 in detail2.secondary_detail.all %}
                                    {% object_workshopplan product=product detail=detail3 month=month as object3 %}
                                    {% with object=object3 %}

                                            <tr class="{% if object.sos == True %}table-danger
                                                       {% else %}{% endif %}">
                                            <th scope="row">{% total_count %}</th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>{% if detail3.prefix %} {{ detail3.prefix }}. {% endif %} {{ detail3.get_name_detail }}
                                                <a title="Комментарии" data-bs-toggle="modal" data-bs-target="" href="#{{object.id}}">&#9776;</a>
                                                {% include 'workshop_data/plan/includes/workshop_plan_modal_window_comments_list.html' %}
                                            </td>
                                            <td></td>
                                            <td>
                                                {% if object %}
                                                    {{ object.get_quantity }} -
                                                    {{ object.quantity_state_order }}гз/
                                                    {{ object.quantity_commercial_order }}ком
                                                {% endif %}
                                            </td>
                                            <td>{{ detail3.balance_semis_in_warehouse }}заг</td>
                                            <td>{{ detail3.balance_intermediate_detail_in_warehouse }}п/ф</td>
                                            <td>{{ detail3.in_warehouse.get_unit_display }}</td>
                                            <td></td>
                                            <td>{% include 'workshop_data/plan/includes/button_dropdown_menu_plan.html' %}</td>
                                        </tr>

                                    {% endwith %}
                                            {% if detail3.secondary_detail.all %}
                                                {% for detail4 in detail3.secondary_detail.all %}
                                                {% object_workshopplan product=product detail=detail4 month=month as object4 %}
                                                {% with object=object4 %}
                                                        <tr class="{% if object.sos == True %}table-danger
                                                                   {% else %}{% endif %}">
                                                        <th scope="row">{% total_count %}</th>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>{% if detail4.prefix %} {{ detail4.prefix }}. {% endif %} {{ detail4.get_name_detail }}
                                                            <a title="Комментарии" data-bs-toggle="modal" data-bs-target="" href="#{{object.id}}">&#9776;</a>
                                                            {% include 'workshop_data/plan/includes/workshop_plan_modal_window_comments_list.html' %}
                                                        </td>
                                                        <td>
                                                            {% if object %}
                                                                {{ object.get_quantity }} -
                                                                {{ object.quantity_state_order }}гз/
                                                                {{ object.quantity_commercial_order }}ком
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ detail4.balance_semis_in_warehouse }}заг</td>
                                                        <td>{{ detail4.balance_intermediate_detail_in_warehouse }}п/ф</td>
                                                        <td>{{ detail4.in_warehouse.get_unit_display }}</td>
                                                        <td></td>
                                                        <td>{% include 'workshop_data/plan/includes/button_dropdown_menu_plan.html' %}</td>
                                                        </tr>
                                                {% endwith %}
                                                {% endfor %}
                                            {% endif %}
                                    {% endfor %}
                                {% endif %}
                        {% endfor %}
                    {% endif %}

            {% endfor %}
            {% endfor %}
            </tbody>



        {% endfor %}


        {% comment %}
        {% for object in filter.qs %}
        <tbody>
        {% ifchanged object.product %}
        <tr class="table-light">
            <td></td>
            <td><h5>{{ object.product }}</h5></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endifchanged %}
        <tr class="{% if object.sos == True %}table-danger
                                       {% else %}{% endif %}">
            <th scope="row">{{ forloop.counter }}</th>
            <td></td>
            <td>{{ object.get_month_display }}</td>


            <td>{% if object.detail %}
                <a href="">{{ object.detail }}</a>
                {% endif %}
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">{{ object.get_quantity }}</a> -
                <a href="">{{ object.quantity_state_order }}/{{ object.quantity_commercial_order }}</a>
            </td>
            <td><a href="{% url 'batchs_in_plan' object %}">{{ object.get_quantity_for_all_batch }}</a></td>
            <td><a href="">{{ object.sos }}</a></td>
            <td>
                {% include 'workshop_data/plan/includes/button_dropdown_menu_plan.html' %}
            </td>
        </tr>
        </tbody>
        {% endfor %}
        {% endcomment %}
    </table>


{% include 'workshop_data/plan/includes/workshop_plan_modal_window_comments_list.html' %}


{% endblock content %}