{% extends 'main.html' %}
{% load static %}

{% block title %}
    План цеха
{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/plan/plan.css' %}" type="text/css">
    <div class="filter-wrapper">
        <form method="GET">
            <div class="filter">
                <h5>Найти по изделию  {{ filter.form.product }}{{ filter.form.media }}</h5>
                <h5>Найти по детали {{ filter.form.detail }}{{ filter.form.media }}</h5>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <h5 style="margin-right: 10px;">Выбрать месяц</h5>
                    {{ filter.form.month }}
                    {{ filter.form.media }}

                </div>


            </div>
            <input type="submit" value="Найти">
        </form>
    </div>

    <hr>
    <h4>План цеха на {% now "F" %} </h4>

    <table class="table table-primary">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Месяц</th>
            <th scope="col">Изделие</th>
            <th scope="col">Деталь</th>
            <th scope="col">Всего - Гос/Ком</th>
            <th scope="col">В работе</th>
            <th scope="col">SOS</th>
            <th scope="col"></th>
        </tr>
        </thead>

            {% for object in filter.qs %}
                <tbody>
                {% ifchanged object.product %}
                <tr class="table-light">
                    <td></td>
                    <td>    <h5>{{ object.product }}</h5></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endifchanged %}
                <tr class="{% if object.sos == True %}table-danger
                           {% else %}{% endif %}">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td></td>
                    <td>{{ object.get_month_display }}</td>
                    <td><a href="">{{ object.detail }}</a></td>
                    <td>
                        <a href="">{{ object.get_quantity }}</a> -
                        <a href="">{{ object.quantity_state_order }}/{{ object.quantity_commercial_order }}</a>
                    </td>
                    <td><a href="{% url 'batchs_in_plan' object %}">{{ object.get_quantity_for_all_batch }}</a></td>
                    <td><a href="">{{ object.sos }}</a></td>
                    <td>
                        {% include 'workshop_data/plan/includes/button_dropdown_menu_plan.html' %}
                    </td>
                </tr>
                </tbody>
            {% endfor %}
    </table>
{% endblock content %}