{% extends 'main.html' %}

{% block title %}
    Все Этапы
{% endblock title %}

{% block content %}
    {% include 'workshop_data/detail/stage/includes/stage_in_detail_all_template.html' %}
    {% if detail %}
        <a class="btn  btn-outline-success btn-sm" type="button" href="{% url 'add_stage_in_detail' detail.id %}">
            Добавить этап в Деталь
        </a>
    {% elif node %}
        <a class="btn  btn-outline-success btn-sm" type="button" href="{% url 'add_stage_in_node' node.id %}">
            Добавить этап в Узел
        </a>
    {% endif %}
{% endblock content %}